# CSCE 623 Homework Assignment 2
## Student Name: Marvin Newlin
## Date: 23 Apr 19

In [1]:
"""
HW2
"""

import numpy as np
import matplotlib.pyplot as plt

#make plots inline using jupyter magic
%matplotlib inline

import pandas as pd
from pandas.plotting import scatter_matrix
from sklearn import datasets, linear_model, metrics

from IPython.display import Markdown as md  #enable markdown within code cell
from IPython.display import display, Math, Latex

##### Read in CSV files to dataframes

In [12]:
# Read CSV files into dataframes
data1_csv = 'datset1.csv'
data2_csv = 'datset2.csv'
data3_csv = 'datset3.csv'

data1 = pd.read_csv(data1_csv)
data2 = pd.read_csv(data2_csv)
data3 = pd.read_csv(data3_csv)

#### Display datasets and statistics

In [14]:
display(md("First 5 entries of dataset 1"))
display(data1.head())
display(md("Dataset 1 statistics"))
display(data1.describe())
display(md("First 5 entries of dataset 2"))
display(data2.head())
display(md("Dataset 2 statistics"))
display(data2.describe())
display(md("First 5 entries of dataset 3"))
display(data3.head())
display(md("Dataset 3 statistics"))
display(data3.describe())

First 5 entries of dataset 1

   Unnamed: 0         0         1    2
0           0  0.548814  0.715189  0.0
1           1  0.602763  0.544883  0.0
2           2  0.423655  0.645894  0.0
3           3  0.437587  0.891773  0.0
4           4  0.963663  0.383442  0.0

Dataset 1 statistics

       Unnamed: 0           0           1           2
count  600.000000  600.000000  600.000000  600.000000
mean   299.500000    0.747401    0.494678    0.500000
std    173.349358    0.380747    0.296411    0.500417
min      0.000000    0.002703    0.000546    0.000000
25%    149.750000    0.510941    0.244774    0.000000
50%    299.500000    0.730347    0.466113    0.500000
75%    449.250000    0.984056    0.754525    1.000000
max    599.000000    1.499809    0.999278    1.000000

First 5 entries of dataset 2

   Unnamed: 0         0         1    2
0           0  0.332130 -0.313696  0.0
1           1  1.859941  0.290296  0.0
2           2 -0.811141 -0.654312  0.0
3           3 -0.125626 -0.253332  0.0
4           4  0.340797  0.118178  0.0

Dataset 2 statistics

       Unnamed: 0           0           1           2
count  600.000000  600.000000  600.000000  600.000000
mean   299.500000    0.473725    0.495420    0.500000
std    173.349358    0.951497    0.576779    0.500417
min      0.000000   -2.528299   -0.856548    0.000000
25%    149.750000   -0.152288    0.018048    0.000000
50%    299.500000    0.460075    0.515972    0.500000
75%    449.250000    1.121963    0.973737    1.000000
max    599.000000    3.290265    1.786571    1.000000

First 5 entries of dataset 3

   Unnamed: 0          0         1    2
0           0   2.000786 -2.967885  0.0
1           1  11.204466  1.179775  0.0
2           2  -4.886389 -5.103305  0.0
3           3  -0.756786 -2.112077  0.0
4           4   2.052993  0.781276  0.0

Dataset 3 statistics

       Unnamed: 0           0           1           2
count  600.000000  600.000000  600.000000  600.000000
mean   299.500000    0.477786    2.196081    0.500000
std    173.349358    3.822859    4.382142    0.500417
min      0.000000  -15.230715  -10.529514    0.000000
25%    149.750000   -1.234267   -0.722251    0.000000
50%    299.500000    0.802649    1.376222    0.500000
75%    449.250000    2.632443    4.799941    1.000000
max    599.000000   12.062268   20.120173    1.000000